



body {
    background: #fff;
}



header, nav {
    background-color: #fff;
}



section, article {
    margin: 3em;
    padding: 3em;
}

section {
    background: #c9c997;
}

article {
    background: #edeceb;
}

#_hello {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: -1;
    background: #fff;
}

#_hello h1 {
    padding: 3em;
    color: rgb(80, 79, 79);
    font-size: 42px;
}

#_hello h1 * {

}

.active {
    color: #ff7b43;
}


#_01 {
}

main {
    position: relative;
    top: 80vh;
}

/* tipo */
body {
    font-family: 'PT Sans Narrow', sans-serif;
    color:rgb(35, 35, 35);
}

h1 {
    font-size: 1.4em;
}

